.details h4,
.details p {
  margin: 0;
}

.home-container h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  color: #143774;
}

.category h4 {
  padding: 1rem 0;
  color: #143774;
}

.home-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.categories {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  margin-bottom: 3.5em;
  width: 100%;
}
.category {
  margin-bottom: 2em;
  text-align: center;
  /* width: 100%; */
  border: 1px solid #b88e2f;
}

.category img {
  width: 100%;
}

.products {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
.product img {
  width: 100%;
}

.product {
  margin-bottom: 1em;
}

.show-btn {
  font-family: "Lora", sans-serif;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  padding: 0.5em 2em;
}
@media screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    justify-content: space-between;
  }
  .category {
    width: 32%;
  }

  .products {
    flex-direction: row;
    justify-content: space-between;
  }
  .product {
    width: 24%;
  }
  .product img {
    height: 350px;
    object-fit: cover;
  }
}
