/* 
.header-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}
nav {
    display: flex;
}

header a {
    padding: 2em 2em;
}

.site-logo {
    text-transform: uppercase;
    font-weight: 900;    
}

*/

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;

  /* border: 1px solid pink; */
}
header {
  text-align: center;
  margin: 0;
  background: #f8f8f8;
  padding: 2em 0;
  font-family: "Jast", sans-serif;
  /* border: 1px solid #707070; */
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.subtitle {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(197, 183, 103, 0.8);
  text-transform: uppercase;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  padding: 0.5em 0.75em;
}

nav a {
  color: #707070;

  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.bg-counter {
  display: block;
  font-size: 13px;
  height: 16px;
  width: 16px;
  background: rgb(134, 134, 134);
  top: 5px;
  position: absolute;
  left: 25px;
  border-radius: 8px;
  text-align: center;
}
.bg-counter span {
  color: white;
  line-height: 1rem;
  display: block;
}

nav a:hover,
nav a:focus {
  color: rgba(197, 183, 103, 0.8);
}

.isActive {
  border-bottom: 1px solid #707070;
}

.isActive:hover,
.isActive:focus {
  color: #707070;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 0 !important;
    padding: 0 1.25em;
  }

  .bg-counter {
    top: -7px;
    left: 36px;
  }
}
