/* .products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.product-list-filter-buttons {
  display: flex;
}

.filter-btn {
  padding: 0.5em 1.5em;
  margin-right: 1em;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  border: 1px solid #ccc;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
}

.product-element {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  width: auto;

}


.product-element p,
h4 {
  margin: 0;
  padding: 0.5em;
}

@media (max-width: 900px) {
}
@media (max-width: 600px) {
} */

.product-element p {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.product-element h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #143774;
}

.products-container h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #143774;
  margin-bottom: 1.5em;
}

.product-element p,
h4,
h3 {
  margin: 0;
}
.products-container {
  width: 90%;
  margin: 0 auto;
}

.category-buttons {
  margin-bottom: 2em;
}
.category-buttons button {
  margin-right: 1em;
}

.product-list {
  display: flex;
  flex-direction: column;

  /* gap: 10px; */
}

.product-element {
  border-bottom: 1px solid gray;
  padding-bottom: 2.5em;
  margin-bottom: 2.5em;
}

.info-details {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}
.info-details p {
  padding: 0.5em 0.5em;
  color: #707070;
}
@media screen and (min-width: 768px) {
  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-element:last-child {
    border: 0;
  }
  .product-element {
    width: 48%;
  }
}
