.product-element h2 {
  font-size: 1.25rem;
  color: black;
  opacity: 0.8;
  margin: 0;
}

.card-body-categ {
  font-family: "Lora", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #707070;
}

.card-body-price {
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 1px;
}

.products-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6em;
  min-height: 100vh;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1em;
}

.card-img {
  transition: filter 0.3s ease;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

/* with Flexbox */
/* .card-img-sector {
  display: flex;
}

.card-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #143774;
}
.card-img {
  transition: filter 0.5s ease;
}
.card-img-container button {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card-img-container:hover img,
.card-img-container:focus img {
  filter: brightness(70%);
}

*/

/* with CSS grid */
.card-img-sector {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
}

.card-img-sector a {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.add-cart-btn {
  grid-column: 2 / 3;
  grid-row: 3;
  height: 80%;
  width: 100%;
  align-self: flex-end;
  margin-bottom: 1em;
  color: #070707;
  opacity: 0;
  transition: all 0.5s ease;
}

.card-img-sector:hover img {
  filter: brightness(70%);
}

.card-img-sector:hover .add-cart-btn {
  opacity: 1;
  filter: none;
}

.card-content {
  align-items: flex-start;
}
.card-content-header {
  display: flex;
  justify-content: space-between;
}
.category-buttons {
  display: flex;
  gap: 0.5em;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-options {
  display: flex;
  align-items: center;
  gap: 1em;
}
.filter-options select {
  padding: 0.5em 1em;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75em;
}

.category-buttons button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 3px;

  color: black;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3b2500; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
.spinner2 {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffa812; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
