.product-details-container {
  width: 90%;
  margin: 2em auto;
  margin-bottom: 5em;
}
.back-link {
  font-size: 1rem;
  font-weight: 400;
  color: #707070;
  text-decoration: underline;
}
.order-container h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.product-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1em;
}
.product-container img {
  object-fit: cover;
  max-height: 70vh;
  max-width: 100%;
}
.details-container {
  margin: 2em 0;
}
.details-nav a {
  margin-right: 2em;
  font-family: "Jast", sans-serif;
  color: #707070;
}

.details-nav {
  margin-bottom: 1em;
}

.product-details {
  display: flex;
  flex-direction: column;
}
.product-info-title {
  margin-top: 0;
  margin-bottom: 0;
}
.product-info-price {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.add-cart-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
.add-cart-section .add-to-cart-btn {
  /* width: 55%; */
}
.counter {
  width: 35%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  max-width: 150px;
  align-items: center;
}
.counter button {
  display: inline-block;
  color: #242020;
  padding: 0.75em 0.75em;
  font-size: 1em;
  border: 0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

/* .order-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
} */
.order-form-main {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  gap: 1em;
}
.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 48%;
}
.order-form {
  display: flex;
  flex-direction: column;
}
.order-form input {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.order-form input:focus {
  outline: none;
  border: 1px solid #000;
}

.add-cart {
  padding: 1em 2.75em;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s;
}
.add-cart:hover,
.add-cart:focus {
  background-color: #d4d4d4;
  transform: scale(1.1);
}

.order-checkout2-btn {
  display: inline-block;
  padding: 1.75em 2em;

  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-bottom: 2em;
  background-color: #242020;
  transition: background-color 250ms;
  letter-spacing: 2px;
  grid-column: 1/-1;
}
.order-checkout2-btn:hover,
.order-checkout2-btn:focus {
  background-color: #4f4f4f;
  transform: translate(1px, 1px);
}

@media screen and (min-width: 768px) {
  .product-container {
    flex-direction: row;
    margin-bottom: 2em;
  }
  .details-container {
    width: 40%;
    margin-top: 0;
    margin-left: 2.5em;
  }
  .product-container img {
    width: 60%;
  }
  .input-grp {
    width: 48%;
  }
  .add-cart-section {
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    align-items: stretch;
  }
  .counter {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .add-cart-section {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  .order-form-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5em;
  }
}
