/* .details-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
 
.product-details-container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 60%;
}

.right-container {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
}

nav a {
    padding: 0 2em;    
}



p, h4 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .product-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    img {
        width: 100%;
    }
} */
.product-details-container {
  width: 90%;
  margin: 0 auto;
}

.product-details-container h3 {
  margin: 1em 0;
  font-family: "Lora", sans-serif;
  color: #143774;
}
.product-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.details-container {
  margin: 2em 0;
}
.details-nav a {
  margin-right: 2em;
  font-family: "Ubuntu", sans-serif;
  color: #707070;
}

.details-nav {
  margin-bottom: 1em;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  margin-top: 0;
  color: #143774;
  font-family: "Lora", "Regular";
  font-size: 1.5rem;
}

.product-details p {
  font-family: "Ubuntu", "Light";
  font-size: 1rem;
  font-weight: 300;
}
/* .order-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
} */
.order-form-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
  width: 100%;
}
.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 48%;
}
.order-form {
  display: flex;
  flex-direction: column;
}
.order2-btn {
  padding: 0.75em 2.5em;
  background-color: #16db99;
  color: white;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .product-container {
    flex-direction: row;
    margin-bottom: 2em;
  }
  .details-container {
    width: 40%;
    margin-top: 0;
    margin-left: 1em;
  }
  .product-container img {
    width: 60%;
  }
  .input-grp {
    width: 48%;
  }
}
